<p>verga</p>
<nb-layout>
    <nb-layout-header fixed>
      <h1>Pokemon Api</h1>
    </nb-layout-header>
  
    <nb-layout-header subheader>
      <nb-actions>
        <nb-action icon="home-outline" routerLink='/listado' ></nb-action>
      </nb-actions>
    </nb-layout-header>
    <nb-layout-column class="colored-column-basic">
      <router-outlet></router-outlet>
    </nb-layout-column>
    <nb-layout-footer>Desarrollado por Paul Vizuete <a href="https://siro.ec" target="_blank"> https://siro.ec</a></nb-layout-footer>
  </nb-layout>